.container{
    width: 1190px;
    margin: 0 auto;
}
.mainContent{
    margin-top: 10px;
}
.mainContent .side-nav{
 width: 190px;
 height: 458px;
 background-color: white;
 position: relative;

}
.mainContent .side-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.mainContent .side-nav li:hover{
    background-color: #DD302D;

}
.mainContent .side-nav li:hover >a{
      color: white;
}
.secondMenu{
    width: 680px;
    height: 458px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.mainContent .side-nav li:hover .secondMenu{
    display: block;
}


.secondMenu dl{
    height: 36px;
    line-height: 36px;
}
.secondMenu dl:first-child{
    margin-top: 10px;
}


.secondMenu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.secondMenu dd{
    float: left;
}

.secondMenu dd a{
padding: 0 10px;
border-left: 1px solid #666;
}





